.container {
  max-height: 1000px;
  position: relative;
  text-align: center;
}
.text-container{
  position: absolute;
  height:auto;
  max-height: 800px;
}

.custom-navbar {
  background-color: #3498db;
}
.container-letter{
  font-size: 2.5em;
  text-decoration: underline;
  text-shadow: #3498db;
}