.container {
  position: relative;
  text-align: center;
}

.custom-navbar {
  background-color: #3498db;
}
.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}